.post-card-list-container {
    width: 100%;
    max-width: 960px;
    margin: 32px auto 40px;
    padding: 0 16px;
    box-sizing: border-box;
}

.post-card-list-section {
    width: 100%;
    display: none;
}

.post-card-list-section.active {
    display: block;
}

.post-detail-section {
    width: 100%;
    display: none;
}

.post-detail-section.active {
    display: block;
}

.post-card-list-sentinel {
    height: 1px;
    width: 100%;
}
